<footer>
    <div class="rodape-container">
        <p>&copy; @getAno() Aprendendo Blazzor</p>
    </div>
</footer>
@code{
    private DateTime dataHoje = DateTime.Now;

    public string getAno(){

        return dataHoje.Year.ToString();
    }
  
}