@page "/data-binding"
@using BlazorApp_Razor.Shared.Entity
@using System.Globalization;


<!DOCTYPE html>
<html>
<head>
    <title>Data Binding</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }        

        .label {
            font-weight: bold;
        }

        .display {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>One-Way DataBinding</h1>
    
    

</body>
</html>



@code {


    

}

