@page "/counter"
@page "/counter/{incremento:int}"
@page "/counter/{mensagem}"
@page "/counter/{incremento:int}/{mensagem}"

<h1>Counter</h1>

<h2>@Mensagem</h2>

<p>Current count: @currentCount</p>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int Incremento { get; set; }

    [Parameter]
    public string Mensagem { get; set; } 
    private int currentCount = 0;  

    private void IncrementCount()
    {        
        if(Incremento == 0)
        {
            currentCount++;
        }
        else
        {
            Mensagem = Mensagem ?? "Utilizando roteamento com parâmetro";
            currentCount = currentCount + Incremento;
        }
        

    }
}
