@page  "/formulario"

<h1> My first Blazor Forms</h1>

<div class="container">
    <h2>Cadastro de Usuário</h2>
    <EditForm Model="@usuario">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <InputText id="nome" @bind-Value="usuario.Nome" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <InputText id="email" @bind-Value="usuario.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Idade:</label>
            <InputNumber id="idade" @bind-Value="usuario.Idade" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Enviar Formulário">
        </div>
    </EditForm>   
</div>

@code {
    Usuario usuario = new Usuario();

    private void Submeter()
    {
        Console.WriteLine($"Submit: {usuario.Nome} - {usuario.Email} - {usuario.Idade}");

    }
}
