<div>
   @if(@ChildContent == null)
   {
        <div class="alert alert-danger mt-4" role="alert">
            <span class="oi oi-circle-x mr-2" aria-hidden="true"> Tarefas não carregadas... </span>
        </div>
   }else{
       @ChildContent
   }

</div>

@code {   

   [Parameter] public RenderFragment ChildContent { get; set; }
}
