<style>  

    /* Estilize a seção superior do card */
    .card-header {
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    /* Estilize a seção inferior do card */
    .card-body {
        padding: 20px;
    }
</style>

<CardContent>
    <Content1>
        <div class="card-header">
            <h2>@CardTitle</h2>
        </div>

    </Content1>
    <Content2>
        <div class="card-body">
            <p>@BodyCard</p>
        </div>
    </Content2>

</CardContent>
<br/>


@code {
    [Parameter] public string CardTitle { get; set; }
    [Parameter] public string BodyCard { get; set; }
}
