@inject HttpClient http


@if (tarefas == null)
{
    <Alerta Mensagem="Carregando" />
}
else if (!tarefas.Any())
{
    <Alerta Mensagem="Ainda não existem tarefas" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Ação</td>
                <th>Data</th>
                <th>Descricao</th>
                <th>Concluida</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tarefas)
            {
                <tr>
                    <td><button @onclick="@(() =>RemoverTarefa(item.Id))"><i class="oi oi-trash"></i></button></td>
                    <td>@item.DataCriacao</td>
                    <td>@item.Descricao</td>
                    <td><input type="checkbox" @bind="item.Concluida" />@item.Concluida</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa</label>
        <input type="text" placeholder="Informe a tarefa" @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Registrar Tarefa</button>
    </div>
}



@code {

    protected override async Task OnInitializedAsync()
    {
        tarefas = await http.GetFromJsonAsync<List<Tarefas>>("dados/tarefas.json");
    }
    private string novaTarefa = "";

    private List<Tarefas> tarefas = new List<Tarefas>();

    void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrEmpty(novaTarefa))
        {
            tarefas.Add(new Tarefas
                {
                    DataCriacao = DateTime.Now,
                    Descricao = novaTarefa,
                    Id = Guid.NewGuid()
                });
        }
    }

    void RemoverTarefa(Guid id)
    {
        tarefas.Remove(tarefas.First(x => x.Id == id));
    }


}
