@page "/parametros-em-cascata"

<h1>Aprendendo sobre parâmetros em Cascata no Blazzor</h1>

<CascadingValue Value="@Resposta" IsFixed="true">
    <Pergunta>

    </Pergunta>
</CascadingValue>

@code {
    string Resposta = "Amar a Deus sobre todas as coisas";

}
